* {
    margin: 0;
    font-family: Segoe UI, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.93rem;
}
.sidebar_wrapper{
    position: relative;
    overflow: hidden;
    max-width: 80%;
    left: 0;
    transition: 1s;
}
.sidebar_rel{
    width: 100%;
    position: relative;
}
#sidebar {
    position: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 0;
    right: 0;
    transition: 1s;
}

.rel div {
    display: flex;
    height: 44px;
    border-bottom: solid #4e5054 0.2px;
    background-color: #414550;
    align-content: center;
    cursor: pointer;
    white-space: nowrap;
}
.head {
    justify-content: center;
}
#sidebar a {
    padding-left: 5%;
    color: #fff;
    align-self: center
}
#sidebar h3 {
    justify-content: center;
    color: #fff;
    align-self: center;
}
#sidebar .button {
    border: solid #4e5054 0.2px;
    background-color: #414550;
    width: 55px;
    padding: 0;
    display: flex;
    background-position: center; 
    z-index: 0;
}
.next {
    right: 0;
    position: absolute;
    height: inherit;
    background: url(./media/angle-right-white.svg) no-repeat;
    background-size: 65% 65%;
    font-weight: 100;
}
.back {
    left: 0;
    position: absolute;
    height: inherit;
    background: url(./media/angle-left-white.svg) no-repeat;
    background-size: 65% 65%;
    font-weight: 100;
}

.mobile_menu_child{
    flex-direction: column;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    right: -100%;
    transition: 1s;
    visibility: hidden;
    z-index: 1;
    margin: 0%
}
.pushedBlock{
    right: -50%;
    left: 50%;
}